.idea/
.gradle/
build/
out/

# the downloaded corpus should not be checked in
corpus/

# Jazzer and JaCoCo application files
/jazzer
/jazzer*.jar
/jazzer-*.tar.gz
/jacoco-*.zip

# Jazzer result/crash files
/crash-*
/Crash_*.java
/slow-unit-*
/oom-*